{{ block "origin" . }}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <title>Original url</title>
</head>

<body>
    <div class="bg-white dark:bg-black flex flex-col min-h-screen space-y-4 justify-center items-center">
        {{ template "url" . }}
    </div>
</body>

</html>
{{ end }}

{{ block "url" . }}
<div>
    <h1 class="text-2xl block w-full text-blue-600 font-bold">Decoded url: </h1>
    <p class="text-2xl text-black dark:text-white">{{ .Origin }}</p>
</div>
{{ end }}
